/Debug
/dm00355726-stm32g4-series-advanced-armbased-32bit-mcus-stmicroelectronics.pdf
/dm00556337-stm32g4-nucleo64-boards-mb1367-stmicroelectronics.pdf
/stm32g474re-datasheet.pdf
/en.mb1367-g474re-c04_schematic.pdf
